*{margin:0; padding:0}

html, body{height:100%;
margin:0;
padding:0;
position: relative;
min-height:100%;

}
body {
	background-color: #c851db;
}

#container {
	position: relative;;
	height: 100%;
}


#background {
	top:0;
	left:0;
	z-index: -2;
	width: 100%;
	height: 130vh;
}

/* Heading Vidare */

#headingContainer {
	z-index: 100;

	position: absolute;
	top: 2.5vw;
	height: 12vw;

	padding-top: 0.5vw;
	padding-bottom: 0.5vw;

	width: 100%;

	text-align: center;
	background-color: #171717;
}

#heading {
	color: white;
	font-size: 5vw;
	font-family: 'Rock Salt', cursive;
}

/* Hiding Modules*/

#whenAndWhere {display: none;}
#info {display: none;}
#countDown {display: none;}
#speaker1 {display: none;}
#speaker2 {display: none;}
#speaker3 {display: none;}
#anmalan {display: none;}
#social {display: none;}



/* Floating Windows */

	.windows {
		font-size: 5vw;
		font-family: 'Acme', sans-serif;
	  color: white;

	  border-radius: 10px;

		background-color: rgba(210, 202, 255, 0.39);
	}


/* When and Where */

	#whenAndWhereText {
	  padding: 5vw 0;
	}

	#whenAndWhere {
		position: absolute;

		left: 15vw;

		width: 70vw;
		height: 20vw;

		text-align: center;
	}

	/* info */

	#infoText {
	  padding: 5vw 0;
	}

	#info {
		padding-left: 2.5vw ;
		padding-right: 2.5vw;
		position: absolute;

		left: 15vw;

		width: 65vw;
		height: 95vw;

		text-align: left;
		font-size: 4vw;
	}

/* countDown */

	#countDownText {
	  padding: 3.125vw 0;
	}

	#countDown {
		position: absolute;

		left: 15vw;

		width: 70vw;
		height: 12.5vw;

		text-align: center;
	}

/* Speaker Classes */

	.speaker {
		position: absolute;

		left: calc(15vw + (70vw/2) + 1.25vw);

		width: calc((70vw/2) - 1.25vw);
		height: 45vw;

		text-align: center;
	}

	.speakerImgContainer {
		height: calc(50vw - (2.5vw*2));
		width: calc(70vw/2);
		overflow: hidden;
	}

	.speakerImg {
		position: absolute;
		height: calc(50vw - (2.5vw*2));
		left: -36.25vw;
		border-radius: 10px;
		min-width: calc((70vw/2) - 1.25vw);
		max-width: calc((70vw/2) - 1.25vw);
	}

	.speakerText {
		font-size: 3vw;
		line-height: 4vw;
		text-align: justify;
		margin: 2.5vw;

		position: relative;
		top: calc(-45vw);
	}

	.speakerTitle {
		position: relative;
		top: calc(-43.5vw);
	}

/* Vad */

	#anmalanText {
	  padding: 6.25vw 0;
	}

	#anmalan {
		position: absolute;

		left: 15vw;

		width: 70vw;
		height: 25vw;

		text-align: center;
	}

	/* Social */

	#socialText {
	  padding: 3.125vw 0;
	}

	#social {
		position: absolute;

		left: 15vw;

		width: 70vw;
		height: 25vw;

		text-align: center;
	}


	body:before {
	  content: "";
	  display: block;
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100vw;
	  height: 100%;
	  z-index: -10;
	  background: url('') no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

/* Schema */


@media only screen and (max-device-width : 640px) {
	#headingContainer {
		position: fixed;
	}
}

@media only screen and (max-device-width: 768px) {
	#headingContainer {
		position: fixed;
	}
}
